<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @*Подключение скриптов к страницам веб-приложения.*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*Подключение локальных стилей к страницам веб-приложения.*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
</head>
<body>
    <div class="bg-dark text-light main-container">
        @*Навигационная панель страницы.*@
        @* <nav class="navbar navbar-expand-sm bg-opacity-100 background-dark text-light border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand nav-link" asp-page="/Index">Основная</a>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link nav-item" role="button">Список</a>
                    </li>
                    <li>
                        <a class="nav-link nav-item" role="button">Отчёт</a>
                    </li>
                </ul>
            </div>
        </nav> *@

        <header>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark background-dark border-bottom box-shadow mb-3">
                <div class="container-fluid col-md-auto">
                    <a class="navbar-brand" asp-page="/Index" title="Основная страница">
                        <picture>
                            <img src="~/images/post/post-48x48.png" alt="Post"/>
                        </picture>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center col-md-auto">
                        <ul class="navbar-nav flex-grow-1 nav-tabs">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   role="button"
                                   data-bs-toggle="dropdown">
                                    Данные
                                </a>

                                <ul class="dropdown-menu dropdown-menu-dark nav-justified">
                                    <li>
                                        <a class="dropdown-item" asp-controller="App" asp-action="Exams">
                                            Список экзаменов
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-page="/Examiners">
                                            Список экзаменаторов
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-page="/Applicants">
                                            Список абитуриентов
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-page="/Disciplines">
                                            Список дисциплин для сдачи экзаменов
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle @ViewBag.ActiveReports"
                                   href="#"
                                   role="button"
                                   data-bs-toggle="dropdown">
                                    Отчёт
                                </a>

                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li>
                                        <a class="dropdown-item" asp-page="/Reports/Query01">
                                            Пациенты, фамилия которых начинается с заданной буквы кириллицы.
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-page="/Work/Reports/WeightsAllocationReport">
                                            Доктора с заданной специальностью.
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-page="/Work/Reports/AgesAllocationReport">
                                            Доктора с заданным размером оплаты за один приём.
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-page="">
                                            Пациенты, возраст которых входит в заданный диапазон.
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item" asp-page="">
                                            Приёмы заданной даты.
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        @*Основное содержание страницы.*@
        <main class="ms-2">
            @RenderBody()
            @*await RenderSectionAsync("Scripts", required: false)*@
        </main>

        @*Нижняя область страницы.*@
        <footer class="border-top bg-dark text-light footer">
           <h6 class="text-center">Веб-приложение разработано студентом группы PE321 Пивторак Богданом.</h6>
        </footer>
    </div>
</body>
</html>