@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @*Подключение скриптов к страницам веб-приложения.*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*Подключение локальных стилей к страницам веб-приложения.*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
</head>
<body>
    <div class="bg-dark text-light main-container d-flex flex-column">
        @*Навигационная панель страницы.*@
        @* <nav class="navbar navbar-expand-sm bg-opacity-100 background-dark text-light border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand nav-link" asp-page="/Index">Основная</a>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link nav-item" role="button">Список</a>
                    </li>
                    <li>
                        <a class="nav-link nav-item" role="button">Отчёт</a>
                    </li>
                </ul>
            </div>
        </nav> *@

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark background-dark border-bottom box-shadow">
                <div class="container-fluid ps-5 pe-5">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-flex justify-content-between w-100 pe-5 ps-5">
                        <ul class="navbar-nav d-flex justify-content-between w-100">
                            <li class="nav-item d-flex justify-content-start flex-grow-1">
                                <a class="navbar-brand" asp-controller="Home" asp-action="Index" title="Основная страница">
                                    <picture>
                                        <img class="image-icon" src="~/images/post/post-48x48.png" alt="Post" />
                                    </picture>
                                </a>
                            </li>

                            <li class="nav-item d-sm-inline-flex justify-content-center align-items-center col-md-auto flex-grow-1">
                                <a class="nav-link" role="button" asp-controller="Publications" asp-action="PublicationsList">
                                    Подписаться
                                </a>

                                <a class="nav-link" role="button">
                                    Личный кабинет
                                </a>
                            </li>

                            <li class="d-flex flex-grow-1 justify-content-end">
                                <div class="d-flex d-row align-content-center align-items-center">
                                    <div class="bg-info bg-opacity-75 rounded">
                                        <p class="mb-0 ps-2 pe-2 "> @((Context.User.Identity != null && Context.User.Identity.IsAuthenticated) ? "Вход выполнен" : "") </p>
                                    </div>
                                </div>

                            <li class="nav-item dropdown text-center">
                                <a class="nav-link dropdown-toggle"
                                   role="button"
                                   data-bs-toggle="dropdown">
                                    <picture>
                                        <img class="image-icon" src="~/images/AccountIcon.png" alt="Account" />
                                    </picture>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark nav-justified">
                                    <li>
                                        <a class="dropdown-item" asp-controller="UserAccount" asp-action="Authorization">
                                            Авторизоваться
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="UserAccount" asp-action="Registration">
                                            Зарегистрировать
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="UserAccount" asp-action="LogOut">
                                            Выход
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            </li>
                        </ul>
                    </div>
            </nav>
            @if (!User.IsInRole("Guest") && !User.IsInRole("Subscriber") && User.Identity.IsAuthenticated)
            {
                <nav class="navbar navbar-expand-sm navbar-dark border-bottom box-shadow mb-3">
                    <div class="container-fluid ps-5 pe-5">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center align-content-center col-md-auto flex-grow-1">
                            <ul class="navbar-nav">

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                       href="#"
                                       role="button"
                                       data-bs-toggle="dropdown">
                                        Сотрудники
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-dark nav-justified">
                                        <li>
                                            <a class="dropdown-item" asp-controller="App" asp-action="Exams">
                                                Почтальоны
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item" asp-page="/Examiners">
                                                Операторы
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item" asp-page="/Applicants">
                                                Администрация
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle @ViewBag.ActiveReports"
                                       href="#"
                                       role="button"
                                       data-bs-toggle="dropdown">
                                        Отчёт
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li>
                                            <a class="dropdown-item" asp-page="/Reports/Query01">
                                                Пациенты, фамилия которых начинается с заданной буквы кириллицы.
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item" asp-page="/Work/Reports/WeightsAllocationReport">
                                                Доктора с заданной специальностью.
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item" asp-page="/Work/Reports/AgesAllocationReport">
                                                Доктора с заданным размером оплаты за один приём.
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item" asp-page="">
                                                Пациенты, возраст которых входит в заданный диапазон.
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item" asp-page="">
                                                Приёмы заданной даты.
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" role="button" asp-controller="SubscriptionManagement" asp-action="Main">
                                        Управление подписками
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" role="button">
                                        Распределение участков
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            }
            else
            {
                <div class="mb-3"></div>
            }
        </header>

        @*Основное содержание страницы.*@
        <main class="ms-2 flex-grow-1">
            @RenderBody()
            @*await RenderSectionAsync("Scripts", required: false)*@
        </main>

        @*Нижняя область страницы.*@
        <footer class="border-top bg-dark text-light footer">
           <h6 class="text-center my-0">Веб-приложение разработано студентом группы PE321 Пивторак Богданом.</h6>
        </footer>
    </div>
    @await RenderSectionAsync("Scripts", false)

</body>
</html>


