@using PostOffice.ViewModels
@model List<SectionViewModel>

<div class="d-flex align-items-center flex-column">
	<h1>Данные о участках на момент @($"{DateTime.Now:dd.MM.yyyy}").</h1>
	<table class="table table-dark table-hover table-striped table-bordered rounded-5">
		<thead>
			<td>Номер</td>
			<td>Количество адресов</td>
			<td>Количество подписок</td>
			<td>Количество подписчиков</td>
			<td>ФИО обслуживающего почтальона</td>
		</thead>
		<tbody>
			@await Html.PartialAsync("~/Views/Shared/PartialView/SectionTableRows.cshtml", Model)
		</tbody>
	</table>

	<div class="text-center w-100 mb-4">
		<button id="uploadButton" class="btn btn-primary w-50">Загрузить</button>
	</div>
</div>

@section Scripts{
	<script src="~/js/sections.js"></script>
}